/* Global styles */
.container {
    max-width: 800px;
    margin: 140px auto 30px;
    padding: 10px;
    background-color: #ffffff;
}

/* Header styles */
.header {
    background-color: #287265;
    height: 110px;
}

.logo img {
    max-height: 100px; /* Assurez-vous que l'image ne dépasse pas la hauteur du header */
}

/* Footer styles */
.footer {
    padding: 20px;
    background-color: #287265;
    color: #fff;
}

/* Contact form styles */
.contact-form form {
    display: grid;
    gap: 10px;
}
